.passwordStrengthSection {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}

.passwordStrengthDiv {
  width: 32%;
  padding: 1rem;
  margin: 0.25rem;
  text-align: center;
  background-color: lightgray;
}

@media screen and (max-width: 650px){
  .passwordStrengthSection {
    flex-direction: column;
  }
  .passwordStrengthDiv{
    width: 75%;
  }
}
