.passwordStrengthSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
  padding: 0.25rem;
  margin-top: 0.75rem;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 2px;
}

.passwordStrengthDiv {
  width: 100%;
  text-align: center;
  background-color: lightgray;
}
